@import "tailwindcss";

@theme {
    /* FONT */
    --font-sans: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

    /* BASE / BACKGROUND */
    --color-base: #FAFAFA;

    /* NEUTRAL */
    --color-neutral-50: #FFFFFF;
    --color-neutral-100: #D9DADA;
    --color-neutral-200: #BDBDBD;
    --color-neutral-300: #323636;
    --color-neutral-400: #1B1B1B;
    --color-neutral-500: #0D0E0E;

    /* PRIMARY */
    --color-primary-50: #F0F7FF;
    --color-primary-100: #99CAFF;
    --color-primary-200: #4CA2FF;
    --color-primary-300: #007BFF;
    --color-primary-400: #005ABB;
    --color-primary-500: #001933;

    /* WARNING */
    --color-warning-50: #FFFCF5;
    --color-warning-100: #FFFAEB;
    --color-warning-200: #FDB022;
    --color-warning-300: #F79009;
    --color-warning-400: #DC6803;
    --color-warning-500: #B54708;

    /* ERROR */
    --color-error-50: #FFFBFA;
    --color-error-100: #FEE4E2;
    --color-error-200: #F97066;
    --color-error-300: #F04438;
    --color-error-400: #D92D20;
    --color-error-500: #B42318;

    /* SUCCESS */
    --color-success-50: #F6FEF9;
    --color-success-100: #DCFAE6;
    --color-success-200: #47CD89;
    --color-success-300: #17B26A;
    --color-success-400: #079455;
    --color-success-500: #067647;
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    --background: var(--color-base);
    --foreground: var(--color-neutral-500);
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
}
